<section>

  <header class="page-header">
    <h1>About Jungle</h1>
  </header>

  <div>
    <p>Jungle's mission is to allow people to liven up their homes with a wide variety of beautiful plants and flowers, as well as all the accessories you need to keep them healthy and happy.</p>
  </div>

</section>